/**
* general rules
**/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.container {
  position: relative;
}
.container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.arrow-down {
  border-color: #C0C0C0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 3px 3px 0;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  position: relative;
  left: 4px;
  top: -1px;
  width: 0;
}

/**
* page layout
**/
.page-wrapper {
  min-width: 960px;
}
.header {
  background-color: #2D2D2D;
  height: 30px;
}
.content-wrapper {
  min-height: 550px;
}
.footer {
  height: 40px;
  background-color: #F2F2F2;
  color: #666;
  border-top: 1px solid #E4E4E4;
}


/**
* module
**/
/**
* page-nav module
**/
.head-nav-container {
  float: left;
}
.page-nav {
  margin: 0 10px;
  padding: 0 5px;
}
.page-nav__site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-nav__site-item {
  float: left;
  height: 30px;
  display: block;
  position: relative;
}
.page-nav__link {
  color: #CCC;
  display: block;
  text-decoration: none;
  padding: 5px 5px 5px;
  font-family: Arial, Trebuchet MS, sans-serif;
}
.page-nav__link:hover {
  background-color: #4C4C4C;
}
.page-nav__site-item--active .page-nav__link {
  color: #FFF;
}
.page-nav__more-list {
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 200;
  top: 100%;
  border: 1px solid #BEBEBE;
  border-top: 0;
  -webkit-box-shadow: 0 0 3px #BEBEBE;
     -moz-box-shadow: 0 0 3px #BEBEBE;
          box-shadow: 0 0 3px #BEBEBE;
}
.page-nav__more-toggle--active .page-nav__more-list {
  display: block;
  padding: 10px 0;
}

.page-nav__more-item {
  display: block;
}
.page-nav__more-link {
  text-decoration: none;
  display: block;
  line-height: 35px;
  padding: 0 30px 0 20px;
  font-family: Arial, sans-serif;
}
.page-nav__more-link:visited {
  color: #3366D5;
}
.page-nav__more-link:hover {
  background-color: #EEE;
}

/**
* account module
**/













