/**
* general rules
**/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.container {
  position: relative;
}
.container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.arrow-down {
  border-color: #C0C0C0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 3px 3px 0;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  position: relative;
  left: 4px;
  top: -1px;
  width: 0;
}

/**
* page layout
**/
.page-wrapper {
  min-width: 960px;
  min-height: 500px;
}
.header {
  background-color: #2D2D2D;
  height: 30px;
}
.footer {
  height: 40px;
  background-color: #F2F2F2;
  color: #666;
  border-top: 1px solid #E4E4E4;
}


/**
* module
**/
/**
* page-nav module
**/
.head-nav-container {
  float: left;
}
.page-nav {
  margin: 0 10px;
  padding: 0 5px;
}
.page-nav__site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-nav__site-item {
  float: left;
  height: 30px;
  display: block;
  position: relative;
}
.page-nav__link {
  color: #CCC;
  display: block;
  text-decoration: none;
  padding: 5px 5px 5px;
  font-family: Arial, Trebuchet MS, sans-serif;
}
.page-nav__link:hover {
  background-color: #4C4C4C;
}
.page-nav__site-item--active .page-nav__link {
  color: #FFF;
}
.page-nav__more-list {
  list-style: none;
  display: none;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 200;
  top: 100%;
  border: 1px solid #BEBEBE;
  border-top: 0;
  -webkit-box-shadow: 0 0 3px #BEBEBE;
     -moz-box-shadow: 0 0 3px #BEBEBE;
          box-shadow: 0 0 3px #BEBEBE;
}
.page-nav__more-toggle--active .page-nav__more-list {
  display: block;
  padding: 10px 0;
}

.page-nav__more-item {
  display: block;
}
.page-nav__more-link {
  text-decoration: none;
  display: block;
  line-height: 35px;
  padding: 0 30px 0 20px;
  font-family: Arial, sans-serif;
}
.page-nav__more-link:visited {
  color: #3366D5;
}
.page-nav__more-link:hover {
  background-color: #EEE;
}

/**
* account module
**/
.account-container {
  float: right;
}
.account__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.account__item {
  float: right;
  display: block;
  position: relative;
  height: 30px;
}
.account__item--active {
  background-color: #FFF;
}
.account__link {
  display: block;
  margin: 5px;
  color: #CCCCCC;
  text-decoration: none;
  font-family: Arial, sans-serif;
}
.account__text {
  display: block;
}
.account__icon-wheel {
  display: block;
  background-image: url(../img/account.png);
  width: 16px;
  height: 16px;
}
.account__item--active .account__icon-wheel {
  background-position: -6px -22px;
}

/**
* module search-setting
**/
.search-setting {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  list-style: none;
  background-color: #FFF;
  margin: 0;
  padding: 10px 0;
  width: 160px;
  border: 1px solid #BEBEBE;
  -webkit-box-shadow: 0 0 3px #BEBEBE;
     -moz-box-shadow: 0 0 3px #BEBEBE;
          box-shadow: 0 0 3px #BEBEBE;
}
.account__item--active .search-setting {
  display: block;
}
.search-setting__item {
  display: block;
  height: 30px;
}
.search-setting__separator {
  display: block;
  height: 0;
  border: 0;
  margin: 10px 0;
  padding: 0;
  border-top: 1px solid #BEBEBE;
}
.search-setting__link {
  display: block;
  padding: 0 10px;
  font: 15px/2 Arial, sans-serif;
  text-decoration: none;
}
.search-setting__link:visited {
  color: #5A66DD;
}
.search-setting__link:hover {
  background-color: #EEE;
}

/**
* page-icon module
**/
.page-icon-container {
  margin: 130px auto 20px;
  width: 269px;
  height: 95px;  
}
.page-icon {
  width: 269px;
  height: 95px;
  background-image: url(../img/logo11w.png);
}
.content-wrapper {
  width: 685px;
  margin: auto;
}
.search__input-container {
  margin:  20px auto 10px;
  width: 685px;
}
.search__query-text {
  width: 485px;
}
.search__query-text-container {
  width: 485px;
  margin: 0 auto;
}
.search__action-container {
  width: 685px;
  text-align: center;
}
input[type=submit].search__action {
  line-height: 2;
  padding: 0 10px;
  margin: 10px 5px;
  background-color: #F5F5F5;
  font-family: Arial, sans-serif;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  border-radius: 2px;
}



















