.tip {
    display: none;
    border: 1px solid #A4B3C8;
    width: 200px;
    padding: 10px;

    position: absolute;
    z-index: 999;
    top: 100%;
    margin-top: 10px;

    -webkit-box-shadow: 3px 3px #C8CCC3;
}

.tip:before {
    display: block;
    content: '';
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 6px;
    border-color: transparent transparent #A4B3C8 transparent;

    position: absolute;
    bottom: 100%;
    margin-top: -12px;
    left: 50%;
}

.tip:after {
    display: block;
    content: '';
    width: 0;
    height: 0;

    position: absolute;;
    bottom: 100%;
    margin-top: -10px;
    left: 50%;

    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
}

.tip-close {
    position: absolute;
    right: 5px;
    top: 5px;

    font-family: Arial;
    color: #828081;
    text-decoration: none;
}

.tip-ack {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;

    text-decoration: none;
    width: 80px;
}

.tip-info {
    margin-right: 50px;
}