body {
  font-size: 13px;
  font-family: "微软雅黑", Arial, sans-serif;
  font-weight: normal;
}

h1, .h1 {
  font-size: 2em;
}
h2, .h2 {
  font-size: 1.5em;
}
h3, .h3 {
  font-size: 1.2em;
}
h4, .h4 {
  font-size: 1em;
}
h5, .h5 {
  font-size: 0.9em;
}
h6, .h6 {
  font-size: 0.8em;
}

h1,
h2, 
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
  line-height: 1.2;
}

h1,
h2, 
h3,
.h1,
.h2,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}






