.clock {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 20px auto 0 auto;
    background-image: url(../img/clockface.jpg);
    list-style: none;
    margin: 0;
    padding: 0;
}

.sec,
.min,
.hour {
    position: absolute;
    width: 30px;
    height: 600px;
    top: 0px;
    left: 285px;
}

.sec {
    background-image: url(../img/sechand.png);
    z-index: 3;
}
.min {
    background-image: url(../img/minhand.png);
    z-index: 2;
}
.hour {
    background-image: url(../img/hourhand.png);
    z-index: 1;
}