.slide {
    position: relative;

    width: 690px;
    height: 250px;

    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slide-item {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.slide-item-active {
    z-index: 3;
}

.slide-prev,
.slide-next {
    position: absolute;
    z-index: 5;
    top: 50%;
    margin-top: -46px;
    height: 92px;
    line-height: 92px;

    left: 5px;
    width: 27px;
    text-align: center;

    background-color: #444;
    opacity: 0.5;
    filter: alpha(opacity=50); /* for IE5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* for IE 8*/    

    color: #FFF;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.slide-next {
    right: 5px;
    left: auto;
}

.slide-nav {
    width: 100%;
    position: absolute;
    z-index: 5;

    bottom: 10px;
    text-align: center;

    list-style: none;
    margin: 0;
    padding: 0;
}

.slide-nav-item {
    display: inline-block;
    margin: 0 2px;
}
.slide-nav-link {
    display: block;
    width: 15px;
    height: 15px;

    background-color: #DDD;

    border-radius: 50%;
    text-indent: -9999px;
}
.slide-nav-item-active .slide-nav-link {
    background-color: #3F77BB;
}

